include includes/head
    include includes/nav

    // Put more here!
    img(src='/assets/images/hullo.jpg')

include includes/foot

script(type="text/javascript",src="/scripts/vendor/bower/requirejs/require.js",data-main="/scripts/main")
