include includes/head
    include includes/nav

    // Put more here!

include includes/foot

script(type="text/javascript",src="/scripts/vendor/bower/requirejs/require.js",data-main="/scripts/main")
